div{
    background-color: rgb(233, 91, 20);
    border-radius: 50px;
    padding: 20px;
}

h1{
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2{
    color: rgb(0, 0, 0);
    text-shadow: 5px 5px 2px rgba(255, 255, 255, 0.5);

}
p{
    color: brown;
    background-color: aliceblue;
    border-radius: 15px;
    padding: 8px;
    width: 250px;
}